*{
    background-color: rgba(249, 228, 222, 0.65);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    color: #261E68;
    position: absolute;
    width: 1200px;
    height: 30px;
    left: 80px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: #FFFFFF
}

div{
    
    position: absolute;
    width: 714px;
    height: 654px;
    left: 650px;
    top: 0px;


    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 100px 0px 0px 100px;
    
}  


img{
    position: absolute;
    width: 706px;
    height: 636px;
    left: 0px;
    top: 20px;
    border-radius: 0px;
}


  button {
    background-color: #261E68;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
  }

table{
    width: 600px;
    height: 500px;
    /*border-spacing: 10px;*/
    background-color: #FFFFFF;

}

input[type=text], input[type=password], input[type=email], input[type=date], select {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 300px;
    height: 10px;
    
  }

  th{
    font-size: larger;
    color: #261E68;
    background-color: #FFFFFF;
  }

  td{
    background-color: #FFFFFF;
  }

label{
  background-color: #FFFFFF;
}

a{
  background-color: #FFFFFF;
}
