/* Title-Bar */

position: absolute;
width: 1926.09px;
height: 84px;
left: 0px;
top: 0px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));


/* Rectangle 13 */

position: absolute;
width: 1926.09px;
height: 84px;
left: 0px;
top: 0px;

background: #F9E4DE;


/* Title-Bar */

position: absolute;
width: 1926.09px;
height: 84px;
left: 0px;
top: 0px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));


/* Rectangle 13 */

position: absolute;
width: 1926.09px;
height: 84px;
left: 0px;
top: 0px;

background: #F9E4DE;


/* Home | About Us | Contact Us */

position: absolute;
visibility: hidden;
width: 1182.74px;
height: 31px;
left: 1031.26px;
top: 21px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
text-align: center;

color: #E07646;



/* trip-z-logo */

position: absolute;
width: 209.66px;
height: 84px;
left: 78.25px;
top: 0px;

background: url(trip-z-.png);
